* {
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}

@media(max-width: 767px) {
  .navbar-nav .dropdown-menu {
    position: static;
    float: none;
    width: 100%;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .navbar-nav .dropdown-menu > li > a {
    line-height: 20px;
    padding: 5px 15px 5px 25px;
  }

  .navbar-nav .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }

  .navbar-default .navbar-nav .dropdown-menu > li > a {
    color: #777;
  }

}
.navbar.nav-flex{
  background: -webkit-linear-gradient(right,antiquewhite ,aliceblue);
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-grow: 1;
}

.nav-flex {
  display: flex;
  margin-bottom: 0;
}

.left {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.right {
  display: flex;
  flex: 4;
  flex-direction: column;
  overflow: hidden;
}

#data {
  outline: inset 1px blue;
  background: #dcfff5;

  border-right: inset 10px lemonchiffon;
  border-bottom: inset 15px lemonchiffon;
  flex: 1.5;
}

#preview {
  flex: 1;
}

#editor {
  flex: 16.18;
  border-bottom: solid 1px;
  border-left: solid 1px;
  position: relative;
  background:-webkit-linear-gradient(right, #757f9a, #d7dde8 );
  #canvas {
    height:100%;
    max-height: 100%;
    min-width:100px;
    background: #fff;
    margin: auto;
  }
}



#toolbar {
  flex-shrink: 1;
  background: #fffdf0;
  /*flex-direction:;*/
}

.dropdown-menu {
  top: auto;
  bottom: 100%;
}

.stroke-container {
  width: 400px;
  height: 50px;
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.stroke-container .colorpicker-container {
  position: absolute;
  right: 10px;
  top: 7px;
}

.stroke-container h4 {
  margin-top: 0;
  position: absolute;
  top: 6px;
  left: 100px;
}

.stroke-container svg {
  /*width: 100%;
  height: 50px;*/
  visibility: hidden;
  position: absolute;
  bottom: -235px;
  left: -105px;

}

.upText,
.downText {
  text-anchor: middle;
  font-weight: 700;
  font-size: 14px;
  fill: #03A9F4;
  letter-spacing: 0.4px;
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
  text-rendering: optimizeSpeed;
}

.upText {
  font-size: 24px;
  opacity: 0;
}

#dragger {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.downText {
  letter-spacing: -0.4px;
}

.sp-replacer {
  padding: 0;
  border-radius: 100%;
  margin-right: 4px;
}
.sp-preview {
  margin-right:0;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  border:none;
}
.sp-dd{
  display: none;
}